
.mdl-card
{
    min-width: 70%;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.card-body
{
    padding: 20px;
}

.clickable-list-item:hover
{
    cursor: pointer;

    background-color: rgba(0,0,0,.05);
}

.new-poll
{
    background-color: rgba(0, 255, 0, .1);
}
